:root {
  --bg-primary : rgb(3, 115, 135);
  --bg-primary-hover : rgb(5, 83, 96);
  --text-light: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%; 
  min-height: 100vh; 
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}
